html {
    background-color: #0e1014;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-size: 16px;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    min-width:900px;
    
}

.alertmsg {
    color:red;
    font-weight:700;
}

/*a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }*/

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}*/

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
/*header {
    background-position: center 100% top 100%;
    background-image: url('../Images/masterheader.png');
    background-repeat: space;
    background-size:100% 100%;
    height:570px;
}*/
header {
    background-position: center top;
    background-image: url('../Images/background_01.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:auto 400px;
    height:400px;
}
    header .logo {
        position:fixed;
        width: 300px;
        height: 200px;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-position: center center;
        background-image: url('../Images/logo2.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size:300px 200px;
        margin:0 auto;
        z-index:10;
    }

div.body {
    position:relative;
    top:-30px;
    z-index:200;
    /*background-position: center top;
    background-image: url('../Images/background_02.png');
    background-repeat: no-repeat;
    background-attachment: scroll;*/
}

.content-wrapper {
    position:relative;
    width:900px;
    margin:0 auto;
    text-align:center;
}
.headmenu {
    top:200px;
    z-index:100;
}
.menurow {
    display:flex;
    height:70px;
}
.menuleft {
    flex: none;
    width: 46px;
    background-position: left top;
    background-image: url('../Images/border_left_top.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 46px 100%;
}
.menucenter {
    flex:1;
    width:100%;
    height:80px;
    margin:2px;
    position:relative;
    top:-10px;
    background-color: #0e1014;
}
.menuright {
    flex: none;
    width: 36px;
    background-position: right top;
    background-image: url('../Images/border_right_top.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 36px 100%;
}

.border-top {
    background-position: center bottom;
    display: block;
    background-image: url('../Images/flybackground_top.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:900px 102px;
    height:102px;
}

/*.main-content {
    position:relative;
    width: 762px;
    height:auto;
    top:-50px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFFEF2;
}*/

   
/* menubar
----------------------------------------------------------*/
.menubar {
    padding: 0;
    margin:0;
    width:100%;
    text-align: center;
    display:flex;
}

    .menubar .menuitem {
        flex: 1;
        display: inline;
        list-style: none;    
        padding:5px 10px;
        z-index:100;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: scroll;
    }
        .menubar .menuitem span {
            vertical-align:middle;
        }
    .menubar .menusplit {
        flex:none;
        width:2px;
        background-color:black;
        vertical-align:middle;
        text-align:center;
    }
        .menubar a {
            color:#cccccc;
            font-size: 1.2em;
            font-weight: 600;
            font-family: 黑体;
            display: inline-block;
            text-align: center;
            transition: all 0.5s;
            cursor: pointer;
            vertical-align:central;
        }

            .menubar a .linkcontent {
                cursor:pointer;
                display:inline-block;
                transition:0.5s;
                padding: 10px;
                width: 100px;
                height:43px;
                margin:auto auto;
            }
                .menubar a .linkcontent .link_subline {
                    display:none;
                    position:relative;
                    top:10px;
                    height:2px;
                    width:80px;
                    margin:2px auto;
                    background-color:white;
                }
            .menubar a:hover .linkcontent {
                background-color:#0e1014;
            }
                .menubar a:hover .linkcontent .link_subline {
                    display:block;
                }

        /*.menubar a:hover span {
            padding-right:25px;
            color:#fff;
        }*/

            /*.menubar a:hover span:after {
                opacity:1;
                right:0;
            }*/


.content-border {    
    display:flex;
    background-color: #0e1014;
}

.content-paper
{
    flex:1;
	margin: 0 auto;
	text-align: center;
}

.content-border-left {
    flex: none;
    width: 46px;
    background-image: url('../Images/flybackground_left.png');
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: left top;
    background-size:46px auto;
}
.content-border-right {
    flex: none;
    width: 36px;
    background-image: url('../Images/flybackground_right.png');
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: right top;
    background-size:36px auto;
}

/*footer*/
footer {
    background-position: center bottom;
    background-image: url('../Images/background_03.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:100% 300px;
    font-size: 16px;
    height: 300px;
    color: white;
}
    footer .border-bottom {
        position:relative;
        top:-30px;
        background-image: url('../Images/flybackground_bottom.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center bottom;
        background-size:900px 102px;
        height:102px;

}

    
/*浮动客服*/
#floatDivBoxs {
    width: 170px;
    background: #fff;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 999;
}
    #floatDivBoxs .floatDtt {
        width: 100%;
        height: 45px;
        line-height: 45px;
        background: #f08326;
        color: #fff;
        font-size: 18px;
        text-indent: 22px;
        position: relative;
    }
    #floatDivBoxs .floatDqq {
        padding: 0 14px;
    }
        #floatDivBoxs .floatDqq li {
            list-style:none;
            height: 45px;
            line-height: 45px;
            font-size: 15px;
            border-bottom: 1px solid #e3e3e3;
            text-align: left;
            padding-left:10px;
        }
            #floatDivBoxs .floatDqq li img {
                float: left;
                margin-top: 7px;
            }
    #floatDivBoxs .floatDtxt {
        font-size: 18px;
        color: #333;
        padding: 12px 14px;
    }
    #floatDivBoxs .floatDtel {
        padding: 0 0 15px 10px;
    }
    #floatDivBoxs .floatImg {
        text-align: center;
        padding: 10px;
        background: #EBEBEB;
    }
        #floatDivBoxs .floatImg img {
            margin-bottom: 5px;
        }
    #floatDivBoxs .floatDtel img {
        display: block;
    }
    #floatDivBoxs .floatDbg {
        width: 100%;
        height: 20px;
        background: url(../images/online_botbg.jpg) no-repeat;
        box-shadow: -2px 0 3px rgba(0,0,0,0.25);
    }
.floatShadow {
    background: #fff;
    box-shadow: -2px 0 3px rgba(0,0,0,0.25);
}
    .floatShadow a {
        color: #666;
        text-decoration: none;
        outline: none;
    }
        .floatShadow a:hover {
            color:#e8431f;
        }

	.floatShadow div.imgQQ
{
	background-position: left 50%;
	display: inline-block;
	background: url('../Images/qq.png') no-repeat;
	width:100px;
	text-align:right;
}

#rightArrow {
    width: 50px;
    height: 45px;
    background: url(../images/online_arrow.jpg) no-repeat;
    background-position:0 0;
    position: fixed;
    top: 100px;
    right: 170px;
    z-index: 999;
}
    #rightArrow a {
        display: block;
        height: 45px;
        color:blue;
    }
        #rightArrow a:hover {
            color:red;
            background:none;
        }
        
#rightArrowWeiXinImg {
    width: 50px;
    height: 45px;
    background: url(../images/online_arrow.jpg) no-repeat;
    background-position:-50px 0;
    position: fixed;
    top: 100px;
    left: 256px;
    z-index: 999;
}
    #rightArrowWeiXinImg a {
        display: block;
        height: 45px;
        color:blue;
    }
        #rightArrowWeiXinImg a:hover {
            color:red;
            background:none;
        }
     
#floatLeftDiv {
    width: 256px;
    background: #fff;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 999;
}

/* Home Page
----------------------------------------------------------*/
.homepage {
    
}
    .homepage .content {
        background-color:#08090c;
        margin:10px;
    }
    .homepage .content1 {
        background-image: url('../Images/contents_1_bg.png');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center top;
        background-size:100% 400px;
        height:400px;
    }
        .homepage .content1 .content1_title {
            position:relative;
            top:55px;
            left:62px;
            text-align:left;
            font-size:18px;
        }
        .homepage .content1 .content1_body {
            position:relative;
            top:85px;
            left:55px;
            width:400px;
            height:200px;
            background-color:gray;
            text-align:left;
        }
    .homepage .content2 {
        height:500px;        
    }
        .homepage .content2 .content2_header {
            background-image: url('../Images/contents_2_header.png');
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center top;
            background-size:100% 60px;
            height:60px;
        }
        .homepage .content2 .content2_body {
        }

    .homepage .content3 {
        height:300px;
    }

/* Register Page
----------------------------------------------------------*/

.registerpage {
    font:400 12px arial;
    color:black;
}
    .registerpage table {
        width:100%;
    }
    .registerpage tr {
        border-bottom:2px dotted #CDCDCD;
    }
    .registerpage td.inputcol {
        width:250px;
    }
    .registerpage th {
        width:150px;
    }
        .registerpage th label {
            float: right;
            color: #444;
        }
            .registerpage th label span {
                vertical-align: baseline;
                color: red;
                margin:0 5px;
            }
.registerpage .message {
    float:left;
    color:red;
    vertical-align:middle;
}

    .textbox {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 220px;
    }
    
        .textbox:focus {
            border: 1px solid #7ac0da;
        }

.checkimg{
    vertical-align:middle;
}

.button {
    float:left;
    margin:10px 200px;
    width:150px;
    height:50px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
}

    .button:hover {
        background-color: #3e8e41;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

/* DownLoad Page
----------------------------------------------------------*/
.downloadtext {
    min-height:300px;
    margin:20px;
    font:400 20px arial;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font:bold;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 4em;
    font-weight: 600;
    font-style:italic;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

    
/* shoplist listview itemtemplate span
----------------------------------------------------------*/

.shoplistview {
    position:relative;
    margin:10px auto;
    width:90%;
    text-align:center;
}

div.shopitemwrap {
    position:relative;
    float:left;
    letter-spacing:normal;
    margin:18px;
}

a.shopitem {
    margin:50px;
}

    a.shopitem div.img-wrap {
        text-align:center;
    }

    a.shopitem div.title {
        position:relative;
        font-size:18px;
        text-align:center;
        bottom:10px;
    }

        a.shopitem div.title .price {
            color:#f3425e;
            font-weight:700;
            margin-left:50px;
        }


/* shoppage
----------------------------------------------------------*/
div.shoppageinfo {
    float:left;
    width:100%;
}

div.shoppageinfo-l {
    float:left;
    width:250px;
    padding:20px;
    position:relative;
}
div.shoppageinfo-r {
    position:relative;
    text-align:left;
    margin:20px;
}
    div.shoppageinfo-r ul {
        list-style:none;
        position:relative;
        margin:0;
        font-size:18px;
    }

        div.shoppageinfo-r ul il {
            margin:5px;
            height:30px;
        }

            shoppageinfoprice {
                color:#f40;
                font-size:26px;
                font-weight:700;
            }
            

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
	font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
        
    }

	th a:link, th a:visited, th a:active, th a:hover {
		color: #333;
		font-weight: 600;
		text-decoration: none;
        padding: 0;
	}

	th a:hover {
		color: #000;
	}

    th.asc a, th.desc a {
        margin-right: .75em;
    }
    
    th.asc a:after, th.desc a:after {
		display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
	}

	th.asc a:after {
		content: '▲';
	}

	th.desc a:after {
		content: '▼';
	}

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


