body {
	height:100%;
	overflow:hidden;
    color: #FFF;
    background-color: #E5395F;
    font-size: .85em;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}
.content-wrapper {
    position:relative;
    width:100%;
    text-align:center;
}
    .content-wrapper nav {
    background-color: #FFCD00;
    border:1px solid #FFCD00;
    border-radius:25px;
}
.navmenu {

}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    padding: 0;
    margin:auto 10px;
    width:auto;
    text-align: center;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }
        ul#menu li div.split {
            display:inline-block;
            width:3px;
            height:25px;
            background-color:#752B3A;
            vertical-align:middle;
            text-align:center;
        }

        ul#menu li a {
            display: inline-block;
            font:700 20px 黑体;
            color: #752B3A;
            text-align: center;
            padding: 10px;
            width: 130px;
            transition: all 0.5s;
            cursor: pointer;
        }

            ul#menu li a span {
                cursor:pointer;
                display:inline-block;
                position:relative;
                transition:0.5s;
            }

                ul#menu li a span:after {
                    content:'»';
                    position:absolute;
                    opacity:0;
                    top:-5px;
                    right:-5px;
                    transition:0.5s;
                }
                
            ul#menu li a:hover {                
                background-color:#f4511e;
            }

        ul#menu li a:hover span {
            padding-right:25px;
            color:#fff;
        }

            ul#menu li a:hover span:after {
                opacity:1;
                right:0;
            }


a {
    font-size:20px;
    color:green;
}

div.login {
    width:300px;
    margin-left:auto;
    margin-right:auto;
}
    div.login #btnLogin {
        width:100px;
        margin:auto 10px;
        
    }
