html {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-size: 16px;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    min-width:900px;
    
}

.alertmsg {
    color:red;
    font-weight:700;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header {
    display:flex;
}

.left {
    display:inline;
    flex:1;
}
.right {
    display:inline;
    flex:1;
}
.center {
    position:relative;
    display:inline;
    flex:900px;
    
    margin: 0 auto;
    width:900px;
}

.content-wrapper {
    position:relative;
    width:968px;
    margin:0 auto;
    text-align:center;
}


/* Index Page
----------------------------------------------------------*/
.indexContent
{
	display:flex;
}
	.indexContent .left
	{
		flex:1;
		width:368px;
	}
	.indexContent .right
	{
		flex:2;
		width:100%;
	}


/* Register Page
----------------------------------------------------------*/

.registerpage {
    font:400 12px arial;
    color:black;
}
    .registerpage table {
        width:100%;
    }
    .registerpage tr {
        border-bottom:2px dotted #CDCDCD;
    }
    .registerpage td.inputcol {
        width:250px;
    }
    .registerpage th {
        width:150px;
    }
        .registerpage th label {
            float: right;
            color: #444;
        }
            .registerpage th label span {
                vertical-align: baseline;
                color: red;
                margin:0 5px;
            }
.registerpage .message {
    float:left;
    color:red;
    vertical-align:middle;
}

    .textbox {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 220px;
    }
    
        .textbox:focus {
            border: 1px solid #7ac0da;
        }

.checkimg{
    vertical-align:middle;
}

.button {
    float:left;
    margin:10px 200px;
    width:150px;
    height:50px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
}

    .button:hover {
        background-color: #3e8e41;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }


