body {
    overflow:hidden;
}

.page .page__bd
{
	margin:0;
	top:0;
	left:0;
}

.sub_subpage {
    background-color:#EDEDED;
}

.index_page {
    overflow-y:auto;
    position:fixed;
    width:100%;
    top:0px;
    bottom:80px
}

.listview
{
	overflow-y:auto;
	position:fixed;
	width:100%;
	top:43px;
	left:0;
	bottom:80px;
    background-color:#EDEDED;
}

.time {
    
}

a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:active{text-decoration:none;}
