.weui-loadmore {
  display:block;
  width: 65%;
  margin: 1.5em auto;
  line-height: 1.6em;
  font-size: 14px;
  text-align: center;
  color:#1aad19;
  background-color:transparent;
}
.weui-loadmore__tips {
  display: inline-block;
  vertical-align: middle;
}
.weui-loadmore_line {
  border-top: 1px solid #e5e5e5;
  margin-top: 2.4em;
}
.weui-loadmore_line .weui-loadmore__tips {
  position: relative;
  top: 0.9em;
  padding: 0 .55em;
  background-color: transparent;
  color: #1aad19;
}
.weui-loadmore_dot .weui-loadmore__tips {
  padding: 0 .16em;
}
.weui-loadmore_dot .weui-loadmore__tips:before {
  content: " ";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #e5e5e5;
  display: inline-block;
  position: relative;
  vertical-align: 0;
  top: -0.16em;
}
