<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--<pages enableViewState="false"/>-->
      <!--<authentication mode="Forms">
        <forms name="formLoginXL" cookieless="UseCookies" loginUrl="LoginPage.aspx"/>
      </authentication>-->
    </system.web>
  
  <system.webServer>
    <handlers>
      <add verb="*" path="AuthCode" name="AuthCodeImageCallbackHandler" type="SuperMinersWeiXin.AuthCodeImageCallbackHandler"/>
      <add verb="*" path="CheckUserName" name="CheckUserName" type="SuperMinersWeiXin.CheckUserName"/>
      <add verb="*" path="CheckAuthCode" name="CheckAuthCode" type="SuperMinersWeiXin.CheckAuthCode"/>
      <add verb="*" path="CheckEmail" name="CheckEmail" type="SuperMinersWeiXin.CheckEmail"/>
      <add verb="*" path="CheckAlipayAccount" name="CheckAlipayAccount" type="SuperMinersWeiXin.CheckAlipayAccount"/>
      <add verb="*" path="CheckAlipayRealName" name="CheckAlipayRealName" type="SuperMinersWeiXin.CheckAlipayRealName"/>
      <add verb="*" path="CheckIDCardNo" name="CheckIDCardNo" type="SuperMinersWeiXin.CheckIDCardNo"/>
    </handlers>
  </system.webServer>
    
</configuration>
